@media (min-width: 767px)
{
    html
    {
        position: relative;
        min-height: 100%;
    }

    body
    {
        margin-bottom: 45px;
    }
}

.navbar
{
    margin-bottom: 0px;
}

.navbar-default
{
    border-radius: 0px;
}

#nav-main > li > a
{
    text-transform: uppercase;
}

a.badge:hover,
a.badge:active,
a.badge:focus
{
    color: #333333;
    background-color: #ebebeb;
}

@media (max-width: 767px)
{
    #popover-container
    {
        text-align: center;
    }
}

#sub-nav
{
    min-height: 30px;
    border-top: 0px;
    background-color: #e7e7e7;
}

#sub-nav .navbar-nav > li > a
{
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 12px;
    text-transform: uppercase;
}

#subnav-about
{
    margin-left: -25px;
}

#subnav-how
{
    margin-left: 70px;
}

#subnav-account
{
    margin-left: 240px;
}

.jumbotron
{
    background-color: #707070;
    background-image: url("../img/open_road.jpg");
    background-position: 49% 66%;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    max-width: 1920px;
    padding-bottom: 15px;
}

@media (max-width: 767px)
{
    .jumbotron
    {
        background-image: none;
        background-color: #D6D6D6;
        color: #000;
        text-align: left;
        padding-left: 0px;
        padding-top: 5px;
        padding-bottom: 0px;
    }
}

.jumbotron .container
{
    margin-top: 70px;
}

.profile-header
{
    background-color: #D6D6D6;
    padding: 30px;
    margin-bottom: 30px;
}

.profile-header
{
    text-align: center;
}

.profile-header .img-map-container
{
    width: 100%;
    max-width: 300px;
    margin: auto;
}

.profile-header .img-map
{
    padding-top: 100%;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background-image: url('http://maps.googleapis.com/maps/api/staticmap?center=Bahen+Centre+for+Information+Technology,+St+George+St&zoom=11&size=300x300&markers=43.659489,-79.397613');
    background-repeat: no-repeat;
    background-size: 100% auto;
}

@media(max-width: 767px)
{
    .profile-header .img-map-container
    {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media(min-width: 768px)
{
    .profile-header .img-map-container
    {
        float: right;
    }
}

.profile-header-text
{
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 479px)
{
    .hidden-xxs
    {
        display: none;
    }
}

.container-small
{
    padding-left: 15%;
    padding-right: 15%;
    margin-left: auto;
    margin-right: auto;
}

#contact-form
{
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (min-width: 768px)
{
    .responsive-break
    {
        display: none;
    }
}

.blurbs
{
    text-align: center;
}

.taglines
{
    margin-top: 20px;
}

.taglines h2
{
    font-size: 48px;
}

.taglines p
{
    font-size: 18px;
}

.img-profile
{
    background-image: url('../img/171x180.svg');
    margin-left: auto;
    margin-right: auto;
}

.review h3
{
    display: inline;
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
}

.bios
{
    margin-top: 20px;
}

.img-bio
{
    width: 150px;
    height: 150px;
    border-radius: 75px;
    -webkit-border-radius: 75px;
    -moz-border-radius: 75px;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.media .pull-right + .media-body
{
    text-align: right;
}


@media (max-width: 767px)
{
    .container-header
    {
        text-align: center;
    }

    .img-media, .img-bio
    {
        float: none !important;
        margin: auto !important;
    }

    .media-body
    {
        text-align: center !important;
    }
}

#chidi
{
    background-image: url('../img/team/chidi.jpg');
    background-position: top;
}

#aliya
{
    background-image: url('../img/team/aliya.png');
    background-position: center;
}

#joel
{
    background-image: url('../img/team/joel.jpg');
    background-position: top;
}

#richard
{
    background-image: url('../img/team/richard.png');
    background-position: center;
    background-size: 105% auto;
}

#monica
{
    background-image: url('../img/team/monica.jpg');
    background-position: center;
    background-size: 105% auto;
}

.main-profile .panel-body > p:last-of-type,
.main-profile .panel-footer > p:last-of-type
{
    margin-bottom: 0px;
}

#search-form .form-control,
#search-form .btn
{
    opacity: 0.7;
}

#search-form .form-control:hover,
#search-form .btn:hover
{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    background-color: #fff;
}

#search-form .form-control:focus,
#search-form .btn:active,
#search-form .btn:focus
{
    opacity: 1;
    background-color: #fff;
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.postings-header
{
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
}

.postings-header h2
{
    display: inline;
}

.postings-header .sort-btn-group
{
    float: right;
}

@media (max-width: 767px)
{
    .postings-header .sort-btn-group
    {
        float: none;
        margin-top: 15px;
    }
}

.posting .panel-body > h5.date::before
{
    content: "posted: ";
    font-style: normal;
}

.posting .panel-body > h5.date
{
    margin-top: 0px;
    font-style: italic;
}

.posting .panel-body .poster > h4::before
{
    content: "by: ";
    font-weight: normal;
}

.posting .panel-body .poster > h4
{
    margin-top: 0px;
    font-size: 16px;
    font-weight: bold;
    display: inline;
}

@media (max-width: 767px)
{
    .posting .panel-body .poster .poster-rating
    {
        display: block;
        margin-bottom: 5px;
    }
}

.posting .content
{
  clear: both;
}

.panel-body ul
{
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 0px;
}

.posting .panel-footer
{
    padding: 8px 8px 36px;
}

.posting .panel-footer .btn
{
    padding: 3px 6px;
    margin-left: 2px;
    margin-right: 2px;
}

.btn-other
{
    color: #fff;
    background-color: #876996;
    border-color: #775086;
}

.btn-other:hover,
.btn-other:active,
.btn-other:focus
{
    color: #fff;
    background-color: #725581;
    border-color: #642673;
}

footer
{
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
    padding: 10px 15px 1px;
    margin-top: 5px;
}

@media (min-width: 768px)
{
    footer
    {
      position: absolute;
      bottom: 0px;
      width: 100%;
      height: 40px;
    }
}

.footer-nav
{
    list-style-type: none;
    padding: 0px;
    font-size: 10px;
}

.footer-nav .nav-title
{
    font-weight: bold;
    text-transform: uppercase;
}

.footer-nav > li > a
{
    color: #999999;
}

.footer-nav .nav-title > a
{
    color: #000;
}


/* BUTTONS */

/* http://www.surrealcms.com/blog/whipping-file-inputs-into-shape-with-bootstrap-3 */
.btn-info
{
    position: relative;
    overflow: hidden;
}
.btn-info input[type=file]
{
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.btn-input
{
   display: block;
}

.btn-input .btn.dropdown-toggle
{
    padding-left: 7px;
    text-align: left;
}

.btn-input .btn.dropdown-toggle .caret
{
   margin-top: -1px;
   position: absolute;
   right: 10px;
   top: 50%;
}

.btn-input .dropdown-menu
{
    left: 15px;
}

/* FORM LABEL */

.form-horizontal .control-label
{
    text-align:left;
}

/* INPUT GROUP */

.input-group
{
    padding:5px;
}

/* COLLAPSE PANEL CHEVRONS - CURRENTLY NOT IMPLEMENTED */

/* http://stackoverflow.com/questions/18325779/bootstrap-3-collapse-show-state-with-chevron-icon */
/*.glyphicon .glyphicon-chevron-right, .glyphicon .glyphicon-chevron-down,
.panel-heading .glyphicon-chevron-right,
.panel-heading .glyphicon-chevron-down {
    display: inline-block;
    position: absolute;
    top: 50%;
    z-index: 5;
    vertical-align: middle;
}*/
.settings-panel-heading .panel-title:after
{
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: #fff;         /* adjust as needed */
}

.settings-panel-heading.collapsed .panel-title:after
{
    /* symbol for "collapsed" panels */
    font-family: 'Glyphicons Halflings';
    content: "\e079";    /* adjust as needed, taken from bootstrap.css */
}