<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CarNex</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link href="http://github-proxy.kodono.info/?q=https://raw.github.com/Aymkdn/Datepicker-for-Bootstrap/master/datepicker.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-default" id="top-nav" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a href="dashboard.html" class="navbar-brand">CarNex</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav" id="nav-main">
            <li><a href="about.html">About Us</a></li>
            <li class="active" ><a href="howitworks.html">How it Works</a></li>
          
          </ul>

           <ul class="nav navbar-nav navbar-right" id="popover-container">
            <li>
              <form class="form-inline" role="form" action="/logout" method="get"> 
                <button type="submit" class="btn btn-primary navbar-btn">Log Out</button>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <nav class="navbar navbar-default hidden-xs" id="sub-nav" role="navigation">
      <div class="container">
        <div class="navbar-collapse">
          <ul class="nav navbar-nav nav-right" id="subnav-how">
            <li><a href="start.html">Getting Started</a></li>
            <li><a href="safety.html">Safety</a></li>
            <li><a href="faq.html">Frequently Asked Questions</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="jumbotron">
      <div class="container">
        <h1>Ready to travel?</h1>
        <p>Create a post</p>
      </div>
    </div>

    <div class="container">
      <h2>Create a Posting</h2>

      <div class="row" id="createPosting">
        <form role="form" action="/createpost" method="post">
        <!-- Column -->
        <div class="col-sm-12">
          <div class="panel panel-primary posting">
            <div class="panel-heading settings-panel-heading" id="postInfo">
              <a href="#collapsePosting" data-toggle="collapse" class="pull-right"></a>
              <h3 class="panel-title">Your Posting Information</h3>
            </div>

            <div id="collapsePosting" class="panel-collapse collapse in">
              <div class="panel-body">
                  <div class="input-group">
                    <label for="from" class="input-group-addon control-label">From</label>
	            <input name = "from" type="text" value ="" class="form-control" id="from" placeholder="Toronto">
   		    <label for="to" class="input-group-addon control-label">To</label>
		    <input name="to" type="text" value ="" class="form-control" id="to" placeholder="Ottawa">
                  </div>

                  <div class="input-group">
                    <label for="sDate" class="input-group-addon control-label">Start Date</label>
                    <input  id="sDate" name = "startdate" type="data" value ="" class="date-picker form-control" required/>
                    <label for="sDate" class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></label>
                  </div>
                  <div class="input-group">
                    <label for="rDate" class="input-group-addon control-label">Return Date (optional)</label>
                    <input id="rDate" name = "returndate" type="data" value ="" class="date-picker form-control" />
                    <label for="rDate" class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></label>
                  </div>

                  <div class="input-group">
                    <label for="desc" class="input-group-addon control-label">Description</label>
                    <textarea id="desc" name = "descript" value = "" class="form-control" rows="3" placeholder="Hello, I am a driver looking to carpool..." required></textarea>
                  </div>
              </div>
            </div>
          </div>

          <div class="panel panel-primary posting">
            <div class="panel-heading settings-panel-heading" id="startLoc">
              <a href="#collapseStartLoc" data-toggle="collapse" class="pull-right"></a>
              <h3 class="panel-title">Depart</h3>
            </div>

            <div id="collapseStartLoc" class="panel-collapse collapse in">
              <div class="panel-body">
                <div class="input-group">
                    <label for="sLoc-address" class="input-group-addon control-label">Depart</label>
                    <input id="sLoc-address" type="text" style="width: 600px" class="form-control" />
                    <div id="sLoc" class = "map_size" style="width: 600px; height: 400px;"></div>
                    <input type="hidden" id="sLoc-radius"/>
                    <input name = "sLoc_lat" type="hidden" id="sLoc-lat"/>
                    <input name = "sLoc_lon" type="hidden" id="sLoc-lon"/>
                </div>
              </div>
            </div>
          </div>

        <div class="panel panel-primary posting">
            <div class="panel-heading settings-panel-heading" id="destLoc">
              <a href="#collapseDestLoc" data-toggle="collapse" class="pull-right"></a>
              <h3 class="panel-title">Arrive</h3>
            </div>

            <div id="collapseDestLoc" class="panel-collapse collapse in">
              <div class="panel-body">
                <div class="input-group">
                    <label for="dest-address" class="input-group-addon control-label">Arrive</label>
                    <input id="dest-address" type="text" style="width: 600px" class="form-control" />
                    <div id="dest" class = "map_size" style="width: 600px; height: 400px;"></div>
                    <input type="hidden" id="dest-radius"/>
                    <input name = "dest_lat" type="hidden" id="dest-lat"/>
                    <input name = "dest_lon" type="hidden" id="dest-lon"/>
                </div>
              </div>
            </div>
        </div>

        
         <button type="submit" class="btn btn-primary">Create Post &raquo;</button>
        <!-- <button class="btn btn-info pull-left" title="createPost" value="Submit" type="submit" form="createPosting">
            <span class="glyphicon glyphicon-plus"></span>
            Create Post
        </button> -->
        </div>
      </form>
    </div> <!-- column -->
    </div> <!-- main container -->

    <footer>
      <div class="row visible-xs">
        <div class="col-xs-4">
          <ul class="footer-nav">
            <li class="nav-title"><a href="about.html">About Us</a></li>
            <li><a href="about.html#mission">Our Mission</a></li>
            <li><a href="about.html#bio">Founders</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div>

        <div class="col-xs-4">
          <ul class="footer-nav">
            <li class="nav-title"><a href="howitworks.html">How it Works</a></li>
            <li><a href="start.html">Getting Started</a></li>
            <li><a href="safety.html">Safety</a></li>
            <li><a href="faq.html">Frequently Asked Questions</a></li>
          </ul>
        </div>

        <div class="col-xs-4">
          <ul class="footer-nav">
            <li><a href="settings.html">Settings</a></li>
            <li><a href="privacy.html">Privacy</a></li>
            <li><a href="trips.html">My Trips</a></li>
          </ul>
        </div>
      </div>

      <p class="pull-right"><a href="#">Back to Top <span class="glyphicon glyphicon-arrow-up"></span></a></p>
      <p>Copyright &copy; 2014 Someone or Other</p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/other.js"></script>
    <script src="js/fileinput.js"></script>
    <!-- Datepicker -->
    <script src="http://aymkdn.github.com/Datepicker-for-Bootstrap/js/jquery-1.7.1.min.js"></script>
    <script src="http://github-proxy.kodono.info/?q=https://raw.github.com/Aymkdn/Datepicker-for-Bootstrap/master/bootstrap-datepicker.js"></script>
    <script>
    $(".date-picker").datepicker();

    $(".date-picker").on("change", function () {
        var id = $(this).attr("id");
        var val = $("label[for='" + id + "']").text();
        $("#msg").text(val + " changed");
    });
    </script>

    <!-- Location Picker -->
    <script type="text/javascript" src='http://maps.google.com/maps/api/js?sensor=false&libraries=places'></script>
    <script src="js/jquery-locationpicker/locationpicker.jquery.js"></script>
    <script>
    $('#sLoc').locationpicker({
        location: {latitude: 0, longitude: 0},   
        radius: 300,
        zoom: 15,
        scrollwheel: true,
        inputBinding: {
            latitudeInput: $('#sLoc-lat'),
            longitudeInput: $('#sLoc-lon'),
            radiusInput: $('#sLoc-radius'),
            locationNameInput: $('#sLoc-address')
        },
        enableAutocomplete: true,
        });
    $('#dest').locationpicker({
        location: {latitude: 0, longitude: 0},   
        radius: 300,
        zoom: 15,
        scrollwheel: true,
        inputBinding: {
            latitudeInput: $('#dest-lat'),
            longitudeInput: $('#dest-lon'),
            radiusInput: $('#dest-radius'),
            locationNameInput: $('#dest-address')
        },
        enableAutocomplete: true,
        });
    </script>
  </body>
</html>
