<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CarNex - Jane Doe</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-default" id="top-nav" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a href="index.html" class="navbar-brand">brand logo</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav" id="nav-main">
            <li><a href="about.html">About Us</a></li>
            <li class="active"><a href="howitworks.html">How it Works</a></li>
            <li class="disabled"><a href="#" id="account" data-toggle="tooltip" title="You're not logged in!">Account</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right" id="popover-container">
            <li><a href="#" id="log-in" data-toggle="popover">Log In</a></li>
            <li><button type="button" class="btn btn-primary navbar-btn" onclick="signUp();">Sign Up</button></li>
          </ul>
        </div>
      </div>
    </nav>

    <nav class="navbar navbar-default hidden-xs" id="sub-nav" role="navigation">
      <div class="container">
        <div class="navbar-collapse">
          <ul class="nav navbar-nav nav-right" id="subnav-how">
            <li><a href="start.html">Getting Started</a></li>
            <li><a href="safety.html">Safety</a></li>
            <li><a href="faq.html">Frequently Asked Questions</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="profile-header">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="img-bio img-profile"></div>

          <h2>Jane Doe</h2>
          <p>
            <strong>Average Rating</strong>:
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
          </p>

          <p><strong>Usually commutes from around</strong>: Bahen Centre for Information Technology, Toronto</p>
        </div>

        <div class="col-sm-3">
          <div class="img-map-container">
            <div class="img-map"></div>
          </div>
        </div>
      </div>

      <div class="profile-buttons">
        <button class="btn btn-success" title="Add Contact">
          <span class="glyphicon glyphicon-plus"></span>
          <span class="hidden-xxs">Add Contact</span>
        </button>

        <button class="btn btn-other" title="Chat">
          <span class="glyphicon glyphicon-envelope"></span>
          <span class="hidden-xxs">Chat</span>
        </button>

        <button class="btn btn-info" title="Review">
          <span class="glyphicon glyphicon-comment"></span>
          <span class="hidden-xxs">Review</span>
        </button>

        <button class="btn btn-danger" title="Report">
          <span class="glyphicon glyphicon-ban-circle"></span>
          <span class="hidden-xxs">Report</span>
        </button>
      </div>
    </div>

  

        <!-- column 1: User Info -->
        <div class="container main-profile">
        <div class="col-sm-6">
          <div class="panel panel-primary posting">
            <div class="panel-heading settings-panel-heading" id="changeUserInfo">
              <a href="#collapsePersonal" data-toggle="collapse" class="pull-right"></a>
              <h3 class="panel-title">Your Information</h3>
            </div>

            <div id="collapsePersonal" class="panel-collapse collapse in">
                <div class="panel-body">


              </div>
            </div>
          </div>
        </div>


          <div class="col-sm-6">
          <div class="panel panel-primary posting">
            <div class="panel-heading settings-panel-heading" id="changeUserInfo">
              <a href="#collapsePersonal1" data-toggle="collapse" class="pull-right"></a>
              <h3 class="panel-title">Your Information</h3>
            </div>

            <div id="collapsePersonal1" class="panel-collapse collapse in">
                <div class="panel-body">


              </div>
            </div>
          </div>
        </div>
        </div>


    <footer>
      <div class="row visible-xs">
        <div class="col-xs-6">
          <ul class="footer-nav">
            <li class="nav-title"><a href="about.html">About Us</a></li>
            <li><a href="about.html#mission">Our Mission</a></li>
            <li><a href="about.html#bio">Founders</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div>

        <div class="col-xs-6">
          <ul class="footer-nav">
            <li class="nav-title"><a href="howitworks.html">How it Works</a></li>
            <li><a href="start.html">Getting Started</a></li>
            <li><a href="safety.html">Safety</a></li>
            <li><a href="faq.html">Frequently Asked Questions</a></li>
          </ul>
        </div>
      </div>

      <p class="pull-right"><a href="#">Back to Top <span class="glyphicon glyphicon-arrow-up"></span></a></p>
      <p>Copyright &copy; 2014 CarNex, Inc.</p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/other.js"></script>
    <script src="js/login.js"></script>
  </body>
</html>








