<h1>Thank You!</h1>

<p>Thanks for your suggestion. We will consider it and get back to you shortly.</p>

<p>In the meantime, here is a copy of your recipe suggestion for your records.</p>

<h2>first_name: <%= firstname %></h2>
<h2>last_name: <%= lastname %></h2>
